<!--
Coeus Sphinx Theme Contributors Template
========================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Tuesday, October 29 2024
Last updated on: Wednesday, October 30 2024
-->
{% block contributors_metadata %}
{%- if people %}
{%- set prefix = prefix|d("Published by") -%}
{%- set names = people | map(attribute="name") | list -%}
{%- set emails = people | map(attribute="email") | list -%}
{%- set githubs = people | map(attribute="github") | list -%}
{%- set headshots = people | map(attribute="headshot") | list -%}
{%- set orcids = people | map(attribute="orcid") | list -%}
{%- set linkedins = people | map(attribute="linkedin") | list -%}
{%- set twitters = people | map(attribute="twitter") | list -%}
{%- set youtubes = people | map(attribute="youtube") | list -%}
{%- set statuses = people | map(attribute="status") | list -%}
{%- set contributors = names | length -%}
{%- set limit = limit if limit and limit > 1 and limit - 1 < contributors else 2 -%}
<div class="contributors-wrapper">
    <p class="contributors-timestamp">{{ timestamp|d("Updated Today") }}</p>
    <div class="contributors-publisher">
        {% if contributors == 1 %}
        <span>{{ prefix }} <a href="mailto:{{ emails[0] }}?subject={{ subject }}" class="contributor-name"
                data-index="0" aria-label="Ask {{ names[0]|safe }} via email">{{ names[0]|safe }}</a></span>
        {% elif contributors == 2 %}
        <span>{{ prefix }} <a href="mailto:{{ emails[0] }}?subject={{ subject }}" class="contributor-name"
                data-index="0" aria-label="Ask {{ names[0]|safe }} via email">{{ names[0]|safe }}</a> and <a
                href="mailto:{{ emails[1] }}?subject={{ subject }}" class="contributor-name" data-index="1"
                aria-label="Ask {{ names[1]|safe }} via email">{{ names[1]|safe }}</a></span>
        {% else %}
        <span>{{ prefix }} <a href="mailto:{{ emails[0] }}?subject={{ subject }}" class="contributor-name"
                data-index="0" aria-label="Ask {{ names[0]|safe }} via email">{{ names[0]|safe }}</a>, <a
                href="mailto:{{ emails[1] }}?subject={{ subject }}" class="contributor-name" data-index="1"
                aria-label="Ask {{ names[1]|safe }} via email">{{ names[1]|safe }}</a> and <a href="#"
                data-bs-toggle="modal" data-bs-target="#">{{ contributors - limit }}</a> other
            {% if contributors - limit == 1 %}
            contributor
            {% else %}
            contributors
            {% endif %}
        </span>
        {% endif %}
        <div class="project-socials">
            {% for key, value in socials | dictsort %}
            <a class="{{ value[1]|e }}" href="{{ value[0]|e }}" {% if value[0]|e !='#' %}target="_blank" {% endif
                %}aria-label="Share this article via {{ key|title }} (opens a new tab)"></a>
            {% endfor %}
            <a class="fa-brands fa-github" href="{{ github }}" {% if github !='#' %}target="_blank" {% endif
                %}aria-label="Check out source on GitHub"></a>
            <a class="fa-solid fa-envelope" href="mailto:{{ email }}?subject={{ subject }}"
                aria-label="Ask team via email" style="font-weight: 900;"></a>
        </div>
    </div>
    <div class="contributors-article-metadata">
        <p class="contributors-metadata-badge" id="readingTime"></p>
        <p class="contributors-metadata-badge">
            <i class="fa-solid fa-map-pin" style="padding-right: 0.3rem;"></i>{{ location|d("Earth") }}
        </p>
        <div class="language-switcher">
            <p class="contributors-metadata-badge">
                <i class="fa-solid fa-language" style="padding-right: 0.3rem;"></i>
                <select id="language-selector" class="no-chevron-select" onchange="switchLanguage()">
                    {% for code, name in languages.items() %}
                    <option value="{{ code }}" {% if language==code %}selected{% endif %}>
                        {{ name }}
                    </option>
                    {% endfor %}
                </select>
            </p>
        </div>
    </div>
    {% for name in names %}
        <div id="contributors-publisher-modal-{{ loop.index0 }}" class="contributors-publisher-modal">
            <div style="display: flex; gap: 0.25rem;">
                <img src="{{ headshots[loop.index0]|d('https://static.thenounproject.com/png/4035892-200.png') }}" alt="{{ name }}'s photo">
                <div class="contributor-identity">
                    <p>{{ name }}</p>
                    <p style="font-weight: 400; font-size: 0.85rem; color: gray; margin-top: -0.25rem; margin-bottom: 0.25rem;">{{ statuses[loop.index0]|d('Open Science Contributor') }}</p>
                    <div class="contributor-reachout-details">
                        {% if emails[loop.index0] %}
                            <p class="contributors-metadata-badge" style="margin-right: 0.25rem;"><a href="mailto:{{ emails[loop.index0] }}"><i class="fa-solid fa-envelope" style="padding-right: 0.3rem;"></i>Email</a></p>
                        {% endif %}
                        {% if githubs[loop.index0] %}
                            <p class="contributors-metadata-badge" style="margin-right: 0.25rem;"><a href="{{ githubs[loop.index0] }}" target="_blank"><i class="fa-brands fa-github" style="padding-right: 0.3rem;"></i>GitHub</a></p>
                        {% endif %}
                        {% if orcids[loop.index0] %}
                            <p class="contributors-metadata-badge" style="margin-right: 0.25rem;"><a href="{{ orcids[loop.index0] }}" target="_blank"><i class="fa-brands fa-orcid" style="padding-right: 0.3rem;"></i>ORCID</a></p>
                        {% endif %}
                        {% if linkedins[loop.index0] %}
                            <p class="contributors-metadata-badge" style="margin-right: 0.25rem;"><a href="{{ linkedins[loop.index0] }}" target="_blank"><i class="fa-brands fa-linkedin" style="padding-right: 0.3rem;"></i>LinkedIn</a></p>
                        {% endif %}
                        {% if twitters[loop.index0] %}
                            <p class="contributors-metadata-badge" style="margin-right: 0.25rem;"><a href="{{ twitters[loop.index0] }}" target="_blank"><i class="fa-brands fa-x-twitter" style="padding-right: 0.3rem;"></i>Twitter</a></p>
                        {% endif %}
                        {% if youtubes[loop.index0] %}
                            <p class="contributors-metadata-badge" style="margin-right: 0.25rem;"><a href="{{ youtubes[loop.index0] }}" target="_blank"><i class="fa-brands fa-youtube" style="padding-right: 0.3rem;"></i>YouTube</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{%- endif %}
{% endblock contributors_metadata %}
