<!--
Coeus Sphinx Theme Main Navigation Bar Template
===============================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Sunday, October 06 2024
Last updated on: Wednesday, October 30 2024
-->
<header class="header-pill glass-bevel">
    {%- block header_left %}
    {%- block header_logo %}
    <a href="{{ pathto(master_doc) }}" class="header-logo">
        {%- if logo_url %}
        <img height="36" width="36" style="margin-right: 0.5rem;" src="{{ logo_url }}" alt="Logo" />
        {%- endif -%}
        {%- if html_logo and not logo_url %}
        <img width="36" height="36" style="margin-right: 0.5rem;" src="{{ pathto('_static/' + html_logo, 1) }}"
            alt="Logo" />
        {%- endif -%}
        {%- if html_logo and not logo_url %}
        <img width="36" height="36" style="margin-right: 0.5rem;" src="{{ pathto('_static/' + html_logo, 1) }}"
            alt="Logo" />
        {%- endif -%}
        <span class="header-title">{{ docstitle }}</span>
    </a>
    {%- endblock header_logo %}
    {%- endblock header_left %}
    {%- block mobile_menu %}
    {%- if sidebars|length >0 -%}
    <button
        class="inline-flex items-center justify-center h-10 px-0 py-2 mr-2 text-base font-medium transition-colors rounded-md hover:text-accent-foreground hover:bg-transparent md:hidden"
        type="button" @click="showSidebar = true">
        <svg xmlns="http://www.w3.org/2000/svg" height="36" width="36" viewbox="0 96 960 960" aria-hidden="true"
            fill="currentColor">
            <path
                d="M152.587 825.087q-19.152 0-32.326-13.174t-13.174-32.326q0-19.152 13.174-32.326t32.326-13.174h440q19.152 0 32.326 13.174t13.174 32.326q0 19.152-13.174 32.326t-32.326 13.174h-440Zm0-203.587q-19.152 0-32.326-13.174T107.087 576q0-19.152 13.174-32.326t32.326-13.174h320q19.152 0 32.326 13.174T518.087 576q0 19.152-13.174 32.326T472.587 621.5h-320Zm0-203.587q-19.152 0-32.326-13.174t-13.174-32.326q0-19.152 13.174-32.326t32.326-13.174h440q19.152 0 32.326 13.174t13.174 32.326q0 19.152-13.174 32.326t-32.326 13.174h-440ZM708.913 576l112.174 112.174q12.674 12.674 12.674 31.826t-12.674 31.826Q808.413 764.5 789.261 764.5t-31.826-12.674l-144-144Q600 594.391 600 576t13.435-31.826l144-144q12.674-12.674 31.826-12.674t31.826 12.674q12.674 12.674 12.674 31.826t-12.674 31.826L708.913 576Z" />
        </svg>
        <span class="sr-only">Toggle navigation menu</span>
    </button>
    {%- endif -%}
    {%- endblock mobile_menu %}
    {%- block header_right %}
    <div class="header-content">
        {%- block header_main_nav %}
        {%- if navbar_links|tobool -%}
        <nav>
            {%- for caption, pages in navbar_links.items() %}
            <div class="header-dropdown">
                <button>{{ caption }}</button>
                <div class="header-dropdown-content glass-bevel">
                    {%- for title, url in pages.items() %}
                    {%- if url.startswith("http") %}
                    <a href="{{ url }}" rel="nofollow noopener">{{ title }}</a>
                    {%- else %}
                    <a href="{{ pathto(url) }}">{{ title }}</a>
                    {%- endif %}
                    {%- endfor %}
                </div>
            </div>
            {%- endfor %}
            {%- if docsearch or hasdoc('search') %}
                <div class="header-search glass-bevel">
                    {%- include "searchbox.html.jinja" %}
                </div>
            {%- endif %}
        </nav>
        {%- endif %}
        {%- endblock header_main_nav -%}
    </div>
    {%- endblock header_right %}
</header>
