<!--
Coeus Sphinx Theme Navigation Bar Template
==========================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Monday, August 26 2024
Last updated on: Saturday, December 07 2024
-->
{% block navigation_bar_links %}
    {%- if navbar_links|tobool -%}
        <nav class="flex md:hidden flex-col font-medium mt-4">
            {%- for caption, pages in navbar_links.items()%}
                {%- if pages.startswith("http") %}
                    <a href="{{ pages }}" rel="nofollow noopener">{{ caption }}</a>
                {%- else %}
                    <a href="{{ pathto(pages) }}">{{ caption }}</a>
                {%- endif %}
            {%- endfor %}
        </nav>
    {%- endif %}
{% endblock navigation_bar_links %}
