:root {
    --coeus-color-tabs-label-active: var(--foreground);
    --coeus-color-tabs-underline-active: var(--accent-foreground);
    --coeus-color-tabs-label-hover: var(--accent-foreground);
    --coeus-color-tabs-overline: var(--border);
    --coeus-color-tabs-underline: var(--border)
}

.coeus-card {
    background-color: var(--card);
    border-color: var(--border);
    border-radius: var(--radius);
    border-width: 1px;
    color: var(--card-foreground);
    margin-top: 1.5rem
}

.coeus-container-fluid {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.coeus-card-title {
    font-weight: 600 !important
}

.coeus-summary-title {
    color: var(--muted-foreground);
    font-weight: 500 !important
}

.coeus-card-footer,
.coeus-card-header {
    font-size: .875rem;
    line-height: 1.25rem
}

.coeus-tab-set {
    margin-top: 1.5rem
}

.coeus-tab-content>p {
    margin-bottom: 1.5rem
}

.coeus-tab-content pre:first-of-type {
    margin-top: 0
}

.coeus-tab-set>label {
    font-weight: 500;
    letter-spacing: .05em
}

details.coeus-dropdown,
details.coeus-dropdown:not([open])>.coeus-card-header {
    border-color: var(--border)
}

details.coeus-dropdown summary:focus {
    outline-style: solid
}

.coeus-cards-carousel {
    overflow-x: auto
}

.coeus-shadow-sm {
    --coeus-shadow: 0 0 transparent !important;
    --coeus-shadow-colored: 0 0 transparent !important;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent !important;
    box-shadow: var(--coeus-ring-offset-shadow, 0 0 transparent), var(--coeus-ring-shadow, 0 0 transparent), var(--coeus-shadow) !important
}
